.roundedCircle {
    border-radius: 50% !important;
}

.header {
    padding: 1em;
    text-align: center;
}

.info {
    width: 540px;
    height: fit-content;
    margin-left: 15em;
    margin-top: 2em;
}